@import 'colors/everforest.css';
* {
border: none;
border-radius: 0;
font-family: 'Commissioner', 'CodeNewRoman Nerd Font Propo', sans-serif;
font-size: 13px;
font-weight: bold;
min-height: 0;
padding: 0;
margin: 0;
}
window#waybar {
background: rgba(30, 35, 38, 0.85);
border: 1px solid @bg1;
}
tooltip {
background: @bg0;
border: 1px solid @bg3;
border-radius: 12px;
}
tooltip label {
color: @fg;
padding: 6px;
}
#workspaces,
#taskbar {
background-color: @bg0;
margin: 4px 0 4px 12px;
border-radius: 12px;
border: 1px solid @bg1;
color: @fg;
}
#workspaces button {
padding: 1px 6px;
margin: 3px 3px;
border-radius: 50px;
color: @fg;
background-color: @bg1;
transition: all 0.3s ease-in-out;
}
#workspaces button.active {
background: #93B259;
background: linear-gradient(90deg, rgba(147, 178, 89, 1) 0%, rgba(167, 192, 128, 1) 46%, rgba(131, 192, 146, 1) 100%);
color: @bg0;
min-width: 50px;
transition: all 0.3s ease-in-out;
font-size: 13px;
}
#workspaces button:hover {
background-color: @purple;
color: @bg0;
border-radius: 16px;
min-width: 16px;
background-size: 400% 400%;
}
#workspaces button.urgent {
background-color: @orange;
color: @bg0;
border-radius: 16px;
min-width: 50px;
background-size: 400% 400%;
transition: all 0.3s ease-in-out;
}
#battery,
#pulseaudio,
#network,
#clock,
#custom-notification,
#mpris,
#bluetooth,
#tray,
#custom-weather,
#backlight {
background-color: @bg0;
padding: 5px 10px;
margin: 7px 0 7px 0px;  /* FIXED: Added px units */
border-radius: 0px;
border: 0px solid @bg1;
}
#backlight {
color: @purple
}
#clock {
color: @fg;
font-size: 14px;
}
#custom-weather {
color: @fg;
}
#custom-notification {
color: @fg;
margin: 7px 12px 7px 0px;  /* FIXED: Added px units */
border-radius: 0 10px 10px 0;
}
#tray {
border-radius: 10px 0 0 10px;
}
#pulseaudio {
color: @yellow;
}
#network {
color: @blue;
}
#battery {
color: @green;
}
#mpris {
color: @fg;
border-radius: 12px
}
#bluetooth {
color: @aqua;
}
#taskbar button {
margin-left: 4px;
margin-right: 4px;
}
#taskbar button.active {
background-color: @fg;
border: 3px solid @fg;
border-radius: 10px
}
#taskbar button:hover {
background-color: @bg4;
border: 3px solid @bg4;
border-radius: 10px
}
#custom-powermenu {
padding: 0 10px;
background-color: @bg0;
border-radius: 0 15px 15px 0;
border: 1px solid @bg1;
margin: 7px 0 7px;  /* FIXED: Added px units */
color: @fg
}
#custom-powermenu:hover {
color: @orange;
background-color: @bg1;
}